html,
body {
    /* background-color: orangered; */
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;

    /* box-sizing: border-box; */
}


header {
    width: 100%;
}

.logo-image {
    margin: auto;
    width: auto;
    background-color: #fafafa;
    /* border: 3px solid #73AD21; */
    padding-top: 13px;
    height: 10%;
    text-align: center;
}

.head-images {
    display: flex;
    flex-direction: row;
    width: auto;
    /* height: 20%; */
    text-align: center;
    justify-content: center;
}

.left-head-image {
    width: 28.5%;
    /* background-color: blueviolet; */

}


.right-head-image {
    width: 28.5%;
    /* background-color: blueviolet; */
}

.head-text {
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 40%;
    padding: 0px 34px 0px 19px;
    /* margin: 0px 10px 0px 10px; */
    /* background-color: yellow; */
    /* size: 45%; */
    /* color: black; */
    font-family: 'Red Hat Display';font-size: 31px;
}


.head-text p {
    font-size: large;
}

.two-buttons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}


.download-btn {
    background-color: rgb(77, 150, 168);
    border-radius: 26px;
    width: 185px;
    height: 40px;
    border: 0px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-family: 'Red Hat Display';font-size: 13px;
}
.inner{
    color: black
}

.download-btn:hover{
    background-color:  rgb(64, 192, 203);
}

.what-btn {
    background-color: rgb(150, 88, 164);
    border-radius: 20px;
    width: 123px;
    height: 40px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-family: 'Red Hat Display';font-size: 14px;
    margin-left: 15px;
}
.what-btn:hover{
    background-color: rgb(233, 164, 248);
}

@media screen and (max-width: 535px) {

    .head-text {
        display: none;
    }

    .left-head-image{
        width: 50%;
    }
    .right-head-image{
        width: 50%;
    }

} 
div.head-text-hidden{
    background-color: white;
    text-align: center;
    width: 50%;
    padding-right: 8px;
    font-family: 'Red Hat Display';font-size: 18px;    
    /* height: 20%; */
}
@media screen and (min-width: 418px) {
    div.head-text-hidden{
        display: none;
    }
}





main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 220px; */
    height: 100%;
    /* background-color: aqua; */
    /* position: absolute; */
    /* z-index: 1; */
}

.number1 {
    background-color: #fafafa;
    width: 25px;
    height: 23px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.9);
    padding-top: 2px;

}

.number1-con {
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    padding-top: 170px;
    padding-bottom: 60px;
}

.number2{
    background-color: white;
    display: flex;
    width: 29px;
    justify-content: center;
    padding-top: 4px;
    height: 25px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 0px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
    /* padding-top: 4px; */
    margin-bottom: -12px;    
    z-index: 2;
}

.number2-con{
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    /* padding-top: 5px; */
    
}


.four-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: slategrey; */
    justify-content: center;
}


section{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.section-con{
    /* background-color: brown;     */
    height: auto;
    width: 70%;
    justify-content: center;
    text-align: center;
} 


.images-con{
    background-color: white;
}



.body-image-n-text {
    display: flex;
    flex-direction: column;
}

.body-head-text-con {
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
}


.body-images {
    width: 130px;
    height: 150px;
    margin: 0px 5px 7px 5px;
    /* margin-left: 4px; */
}

.body-images img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}




footer {
    display: grid;
    /* grid-template-columns: 33vw 34vw 33vw; */
    grid-template-areas: 'left left middle middle right right';
    /* margin-top: 50px; */
    height: 400px;     
    /* margin-top: -10px; */
    /* justify-content: center; */
    /* background-color: rgb(19, 134, 149); */
    /* position: absolute; */
    z-index: 1;
}
.footer-section{
    grid-area: left;
    /* background-color: blue; */
    width: 33vw;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Red Hat Display';font-size: 35px;
    font-weight: bold;
}

.footer-section2{
    grid-area: middle;
    width: 34vw;
    justify-content: center;
    color: white;
    font-family: 'Red Hat Display';font-size: 14px;
}
.footer-section3{
    grid-area: right;
    width: 33vw;
    justify-content: center;
    font-family: 'Red Hat Display';
}

.footer-hero{
    background-image: linear-gradient( rgba(32, 161, 193, 0.8), rgba(32, 161, 193, 0.8)), 
    /* (rgba(143,227,249,0.7) */
    url("./desktopImages/image-footer.jpg");
    /* height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
}





.download-btn2 {
    background-color:  rgb(150, 88, 164);
    border-radius: 18px;
    width: 115px;
    height: 35px;
    border: 0;
    color: white;
    font-size: 15px; font-family:'Red Hat Display';
}

.download-btn2:hover{
    background-color: rgb(233, 164, 248);
}


@media (max-width: 600px) {
    .footer-hero {
    grid-template-areas: 
    'left left left left left left'
    'middle middle middle middle middle middle'
    'right right right right right right';
    }
    .footer-section, .footer-section2, .footer-section3{
        width: 100vw;
    }

}