html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    /* background-color: #f2f2f2; */
}


/* Page banner- logo, banner image, banner text */

header {
    width: 100%;
}

.logo-image {
    margin: auto;
    width: auto;
    background-color: #fafafa;
    padding-top: 13px;
    height: 10%;
    text-align: center;
}

.head-images {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
}

.left-head-image {
    width: 28.5%;
}

.right-head-image {
    width: 28.5%;

}

.head-text {
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 40%;
    padding: 0px 34px 0px 19px;
    font-family: 'Red Hat Display'; font-size: 31px;
}


.head-text p {
    font-size: large;
}

.two-buttons {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    
}


.download-btn {
    background-color: rgb(77, 150, 168);
    border-radius: 26px;
    width: 193px;
    padding-left: 3px;
    height: 40px;
    border: 0px;
    color: white;
    font-weight: 900;
    font-family: 'Red Hat Display';font-size: 15px;
    cursor: pointer;
}

.inner{
    color: #8FE3F9;
    font-size: 16px;
}

.download-btn:hover{
    background-color:  rgb(64, 192, 203);
}

.what-btn {
    background-color: rgb(150, 88, 164);
    border-radius: 20px;
    width: 139px;
    height: 40px;
    border: 0px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Red Hat Display';font-size: 16px;
    margin-left: 15px;
    cursor: pointer;
}
.what-btn:hover{
    background-color: rgb(233, 164, 248);
}

@media screen and (min-width: 300px) and (max-width: 821px) {

    .head-text {
        display: none;
    }

    .left-head-image{
        width: 50%;
    }
    .right-head-image{
        width: 50%;
    }
} 
/* Page banner styling ends here... */



/* Main body; contains 4 images,body text, number 1 and hidden text */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

}


.number1{
    width: 56px;
    height: 56px;
    line-height: 51px;
    border-radius: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    border: 1px solid #666;
    z-index: 2;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background-color: #FAFAFA;
    
}

.number1-con {
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    padding-top: 130px;
    padding-bottom: 50px;  
}

div.head-text-hidden{
    text-align: center;
    width: 60%;
    padding-right: 8px;
    font-family: 'Red Hat Display';font-size: 18px;    

}
/* @media screen and (min-width: 418px) {
    div.head-text-hidden{
        display: none;
    }
} */

@media screen and (min-width: 911px) {
    div.head-text-hidden{
        display: none;
    }
} 


.four-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}


section{
    /* background-color: #fafafa; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.section-con{
    height: auto;
    width: 70%;
    justify-content: center;
    text-align: center;
} 


.images-con{
    background-color: white;
}

.body-image-n-text {
    display: flex;
    flex-direction: column;
}

.body-head-text-con {
    justify-content: center;
    align-items: center;
}


.body-images {
    width: 130px;
    height: 150px;
    margin: 0px 5px 7px 5px;
}

.body-images img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}




/* Main body ends here.... */


.number2 {
    width: 56px;
    height: 56px;
    font-weight: 900;
    line-height: 51px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #666;
    margin-bottom: -30px;    
    z-index: 2;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background-color: #FAFAFA;
}

.number2-con{
    display: flex;
    justify-content: center;
    
}



/* footer contains hero image, and 3 sections of the footer with text... */

footer {
    display: grid;
    grid-template-areas: 'left left middle middle right right';
    height: 400px;     
    z-index: 1;
}
.footer-section{
    grid-area: left;
    width: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: white;
    font-family: 'Red Hat Display';font-size: 33px;
    font-weight: bold;
}
.footer-text1{
    padding: 5px 70px 5px 70px;
}

.footer-section2{
    grid-area: middle;
    width: 34vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: #fafafa;
    font-family: 'Red Hat Display';font-size: 16px;
}

#foooter-text2{
    padding: 10px 70px 10px 70px;
    line-height: 26px;
    font-style: normal;
}

.footer-section3{
    grid-area: right;
    width: 33vw;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Red Hat Display';
}

.footer-hero{
    background-image: linear-gradient( rgba(32, 161, 193, 0.8), rgba(32, 161, 193, 0.8)), 
    url("./desktopImages/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
}

.download-btn2 {
    background-color:  rgb(150, 88, 164);
    border-radius: 29px;
    width: 193px;
    height: 35px;
    border: 0;
    color: white;
    font-size: 16px; font-family:'Red Hat Display';
}

.download-btn2:hover{
    background-color: rgb(233, 164, 248);
}


@media screen and (min-width: 300px) and (max-width: 821px) {
    .footer-hero {
    grid-template-areas: 
    'left left left left left left'
    'middle middle middle middle middle middle'
    'right right right right right right';
    }
    .footer-section, .footer-section2, .footer-section3 {
        width: 100vw;
        text-align: center;
    }

    #footer-text2{
       padding-bottom: 10px;
    }

}

.download-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

